**/node_modules/**
dev-env/vim_configs/.vim/undo_files/**
dev-env/vim_configs/.vim/backup_files/**
**=+.git=+COMMIT_EDITMSG=
**=+.git=+MERGE_MSG=
**=+.git=+rebase-merge=+git-rebase-todo=
dev-env/.lein/indices/**
*.sublime-workspace
**/.DS_Store
.history/**
.vscode
.npm.log*
npm-debug.log
.DS_Store
*.sublime-workspace
elm-stuff
