[user]
	name = cexafaulkner
	email = cexafaulkner@i-sight.com
[core]
	editor = vim
	excludesfile = /Users/andrew/.gitignore_global
[color]
	diff = auto
	interactive = auto
	branch = auto
	status = auto
[merge]
	tool = vimdiff
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
