.ghost {
  background-image: linear-gradient(45deg, transparent 50%, #2C2C2C 50%),
                    linear-gradient(315deg, transparent 50%, #2C2C2C 50%),
                    linear-gradient(#2C2C2C 50%, #2C2C2C 50%);
  background-position: 50% 100%, 50% 100%, 50% 0;
  background-repeat: repeat-x;
  background-size: 1em 1em;
  position: relative;
  margin-top: 1.5em;
  height: 1.5em;
  width: 3em;
}

.ghost:after,.ghost:before {
  background-image: radial-gradient(transparent 35%, #2C2C2C 35%);
  border-top: .5em solid #2C2C2C;
  content: '';
  height: 1em;
  position: absolute;
  top: -1.5em;
  width: 1em;
}

.ghost:after {
  background-position: 75% 75%;
  border-left: .5em solid #2C2C2C;
  border-radius: 3em 0 0 0;
  left: 0;
}

.ghost:before {
  background-position: 0% 100%;
  border-right: .5em solid #2C2C2C;
  border-radius: 0 3em 0 0;
  right: 0;
}