#test_id_here {
  border: 2px solid red;
  padding: 10px;
  font-size: 20px;
}

< div#cannon {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -5px;    << To position from center */
  /* margin-top: -50px;    << To position from center */
  /* margin-left: -100px;  << To position from center */
  color: black;
  background-color: black;
  z-index: 1;
}



/*
#test_id_here {
  border: 2px solid red;
  padding: 10px;
  font-size: 20px;
}

div#protagonist.centered {
  position: absolute;
  top: 50%;
  left: 50%;
   margin-top: -50px;    << To position from center 
  /* margin-left: -100px;  << To position from center 
  color: red;
  background-color: red;
  z-index: 1;
}
*/