# This is Git's per-user configuration file.
[user]
    name = Andrew Faulkner
    email = andfaulkner@gmail.com

[alias]
    amend = commit --amend
    delete = branch -d 
    rename = branch -m
    newbranch = checkout -b
    co = checkout 
    revert1 = revert HEAD
    revert2 = revert HEAD~1^..HEAD
    revert3 = revert HEAD~2^..HEAD

[core]
	editor = nvim
