@import './_TestImport';

$half:    50%;
$player_radius: 10px;
$player_height: $player_radius * 2;
$barrel_height: 15px;

:root {
  --centered-gun: {
    position: absolute;
    top: calc($half - $player_radius);
    left: calc($half - $player_radius);
    width: $player_radius;
    height: $barrel_height;
    margin-top: -$barrel_height - 10;
    margin-left: 20px;
  };
}

div#player > div#weapon > div#cannon-tip {
  @apply --centered-gun;
}

div#player > div#weapon > div#cannon {
  transition: height 2s, margin-left 2s, margin-top 2s;
  @apply --centered-gun;
   /*margin-top: -50px;    << To position from center */
  /* margin-left: -100px;  << To position from center */
  color: black;
  background-color: black;
  transform: rotate(315deg);
  margin-top: calc($barrel_height * 2 - 11); /* ensure the gun looks embedded in the "rocket" */
  z-index: 2;
  background-image: 
    linear-gradient(
      to right, rgba(0,0,0,0.2) 0,
                transparent     30%, 
                transparent     70%,
                rgba(0,0,0,0.2) 100%),
    radial-gradient(
      circle at 26px        75px,
                #444        5px,
                transparent 5px),
    radial-gradient(
      circle at 26px        62px,
                #444        5px,
                transparent 5px),
    linear-gradient(
      to bottom, transparent     37px,
                 rgba(0,0,0,0.2) 37px,
                 rgba(0,0,0,0.2) 39px,
                 transparent     39px),
    linear-gradient(
      to bottom, #444        20%,
                 transparent 20%),
    linear-gradient(
      to right, rgba(255,255,255,0)   20%,
                rgba(255,255,255,0.4) 25%,
                rgba(255,255,255,0.4) 35%,
                rgba(255,255,255,0)   40%),
    linear-gradient(
      to bottom, transparent 37%,
                 #444        37%,
                 #444        50%,
                 transparent 50%),
    linear-gradient(
      to bottom, #ccc        50%,
                 transparent 50%,
                 transparent 98%,
                 #ddd        98%),
    linear-gradient(
      to right, #444        20%,
                transparent 20%,
                transparent 35%,
                #444        35%,
                #444        65%,
                transparent 65%,
                transparent 80%,
                #444        80%),
    linear-gradient(
      to top, transparent 10px,
              #888        10px,
              #888        12px,
              transparent 12px,
              transparent 14px,
              #888        14px,
              #888        16px,
              transparent 16px,
              transparent 18px,
              #888        18px,
              #888        20px,
              transparent 20px,
              transparent 22px,
              #888        22px,
              #888        24px,
              transparent 24px);
}

div#player > div#weapon > div#cannon:hover {
  height: calc($barrel_height + 25px);
  margin-left: 27px;
  margin-top: 12px;
}


/*
#test_id_here {
  border: 2px solid red;
  padding: 10px;
  font-size: 20px;
}

div#player.centered {
  position: absolute;
  top: 50%;
  left: 50%;
   margin-top: -50px;    << To position from center 
  /* margin-left: -100px;  << To position from center 
  color: red;
  background-color: red;
  z-index: 1;
}
*/