/************************************************************************************************
*
*    DIVIDE YOUR SHEETS INTO SPECIFIC SECTIONS
*/

/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ------>>> PAGE STRUCTURE <<<-------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* --------->>> HEADINGS <<<----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* -------->>> TEXT STYLES <<<--------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* -------->>> NAVIGATION <<<---------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ---------->>> FORMS <<<------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* --------->>> COMMENTS <<<----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ---------->>> EXTRAS <<<-----------*/
/* -----------------------------------*/



/************************************************************************************************
*
*    INDENT DESCENDANT AND RELATED RULES 
*    
*    i.e. indent related & descendant rules to make it obvious at a glance what rules logically
*    relate to one another
*/

/** Example 1 **/

h2 { }

    #snapshot_box h2 { 
        padding: 0 0 6px 0;
        font: bold 14px/14px “Verdana”, sans-serif; }

    #main_side h2 { 
        color: #444;
        font: bold 14px/14px “Verdana”, sans-serif; }

    .sidetagselection h2 {
        color: #fff;
        font: bold 14px/14px “Verdana”, sans-serif; }

/** Example 2 **/

#main_side {
    width: 392px;
    padding: 0;
    float: right; }

    #main_side #featured_articles {
        background: #fff; }

    #main_side #frontpageads {
        background: #fff;
        margin: 8px 0; }
